<div class="articles-right-card">
    <table class="table table-striped table-hover">
        <thead>
            <h5>
                <i class="fa fa-folder-o fa-lg"></i>&nbsp;
                <strong>文章归档</strong>
            </h5>
        </thead>
        <tbody>
            {% for year, num in archives.items %}
            <tr>
                <td class="text-center"><a href="{% url 'blog:archive' year %}">{{ year }}年</a></td>
                <td><span class="badge">{{ num }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
