{% for comment in comments %}
<div class="comment-box">
    <h5 class="text-muted">
        <label class="label label-info">{{ forloop.counter|add:prev_num }}楼</label>&nbsp;
        <strong>{{ comment.nickname }}</strong>
        <span class="h6">
            发表于&nbsp;{{ comment.created_time|date:"Y-m-d H:i" }}
        </span>
    </h5>
    <div class="comment">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{comment.content}}
            <span class="h6 pull-right text-primary">
                <span class="comment-up"
                    data-target="{% url 'comment:comment-upvote' comment.id %}">
                    <i class="fa fa-thumbs-o-up" >&nbsp;({{ comment.up_times }})</i>
                </span>&nbsp;&nbsp;
                <span class="subcomment-add" id="add-to-comment-{{comment.id}}"
                    data-target="{% url 'comment:subcomment-create' comment.id %}">
                    回复</span>&nbsp;&nbsp;
            </span>
        </p>
    </div>
    {% for subcomment in comment.subcomment_set.all %}
    <div class="subcomment">
        <p class="h5 text-muted">
            <strong>{{ subcomment.nickname }}</strong>
            <span class="h6">回复</span>
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ subcomment.content }}
            <span class="h6 text-muted">
                &nbsp;&nbsp;{{ subcomment.created_time|date:"Y-m-d H:i" }}
            </span>
        </p>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% if page_obj.has_next %}
<div id="comment-more" class="text-center">
    <a href="?page={{ page_obj.next_page_number }}">
        加载第&nbsp;{{ page_obj.next_page_number }}&nbsp;页
        &nbsp;(共{{ page_obj.paginator.num_pages }}页)
    </a>
</div>
{% else %}
    <div class="text-center">- 已无更多 -<div>
{% endif %}
